.vs/
x64/Debug/Asset.obj
x64/Debug/Display.obj
x64/Debug/Engine.obj
x64/Debug/Geometry.obj
x64/Debug/GlobalIllumination.exe
x64/Debug/GlobalIllumination.exe.recipe
x64/Debug/GlobalIllumination.ilk
x64/Debug/GlobalIllumination.log
x64/Debug/GlobalIllumination.obj
x64/Debug/GlobalIllumination.pch
x64/Debug/GlobalIllumination.pdb
x64/Debug/GlobalIllumination.res
x64/Debug/GlobalIllumination.vcxproj.FileListAbsolute.txt
x64/Debug/Hardware.obj
x64/Debug/IRoutine.obj
x64/Debug/MemoryBank.obj
x64/Debug/pch.obj
x64/Debug/Resource.obj
x64/Debug/ResourceManager.obj
x64/Debug/Utility.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/GlobalIl.a2652a48.tlog/CL.command.1.tlog
x64/Debug/GlobalIl.a2652a48.tlog/CL.read.1.tlog
x64/Debug/GlobalIl.a2652a48.tlog/CL.write.1.tlog
x64/Debug/GlobalIl.a2652a48.tlog/GlobalIllumination.lastbuildstate
x64/Debug/GlobalIl.a2652a48.tlog/link.command.1.tlog
x64/Debug/GlobalIl.a2652a48.tlog/link.read.1.tlog
x64/Debug/GlobalIl.a2652a48.tlog/link.write.1.tlog
x64/Debug/GlobalIl.a2652a48.tlog/rc.command.1.tlog
x64/Debug/GlobalIl.a2652a48.tlog/rc.read.1.tlog
x64/Debug/GlobalIl.a2652a48.tlog/rc.write.1.tlog
